In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('GDPlist.csv')
df.head()

       Country      Continent  GDP (millions of US$)
0  Afghanistan           Asia                  18181
1      Albania         Europe                  12847
2      Algeria         Africa                 190709
3       Angola         Africa                 100948
4    Argentina  South America                 447644

In [4]:
# 1. Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.
df.shape

(125, 3)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [6]:
# 2. Tính giá trị lớn nhất và nhỏ nhất của GDP.
df.pivot_table(values='GDP (millions of US$)',index='Country',aggfunc ='max')

             GDP (millions of US$)
Country
Afghanistan                  18181
Albania                      12847
Algeria                     190709
Angola                      100948
Argentina                   447644
...                            ...
Uzbekistan                   45353
Venezuela                   315841
Vietnam                     122722
Yemen                        33675
Zambia                       19206

[125 rows x 1 columns]

In [7]:
df.groupby('Country').agg(max_GDP = ('GDP (millions of US$)','min'))

             max_GDP
Country
Afghanistan    18181
Albania        12847
Algeria       190709
Angola        100948
Argentina     447644
...              ...
Uzbekistan     45353
Venezuela     315841
Vietnam       122722
Yemen          33675
Zambia         19206

[125 rows x 1 columns]

In [8]:
# 3. Hãy cho biết xu hướng phân bố dữ liệu của GDP.
df.describe()

       GDP (millions of US$)
count           1.250000e+02
mean            5.554278e+05
std             1.649266e+06
min             1.060000e+04
25%             2.574200e+04
50%             9.608900e+04
75%             3.332380e+05
max             1.509402e+07

In [9]:
# 4. Hãy cho biết châu lục nào xuất hiện nhiều nhất?
print(df.head())

       Country      Continent  GDP (millions of US$)
0  Afghanistan           Asia                  18181
1      Albania         Europe                  12847
2      Algeria         Africa                 190709
3       Angola         Africa                 100948
4    Argentina  South America                 447644

In [34]:
df['Continent'].value_counts()

Europe           37
Asia             36
Africa           29
North America    11
South America     9
Oceania           3
Name: Continent, dtype: int64

In [39]:
# 5. Với mỗi châu lục hãy tính tổng GDP; trung bình cộng GDP. Hợp nhất 2 bảng 
# này thành một bảng duy nhất gồm 3 thông tin: Tên châu lục; Tổng GDP; TBC GDP.
df1 = df.groupby('Continent').agg(mean_GDP = \
    ('GDP (millions of US$)','mean')).reset_index()
df2 = df.groupby('Continent').agg(total_GDP = \
    ('GDP (millions of US$)','sum')).reset_index()

In [44]:
df1.merge(df2, on = 'Continent')

       Continent      mean_GDP  total_GDP
0         Africa  6.278659e+04    1820811
1           Asia  6.784970e+05   24425891
2         Europe  5.172805e+05   19139380
3  North America  1.658041e+06   18238447
4        Oceania  5.542423e+05    1662727
5  South America  4.601352e+05    4141217